<div class="details">
  {{#if loggedIn}}
  <h4>Current logged in as: {{username}}</h4>
  {{/if}}
  {{#each pokeArr}}
  <div class="pokeDiv">
    <div class="imgDiv">
      <img src="{{this.img}}">
    </div>
    <div class="detailsDiv">
      <p>
        <a href="/pokemons/{{this.id}}">{{this.id}}</a>
      </p>
      <h5 class="pokeName">{{this.name}}</h5>
    </div>
  </div>
  {{/each}}
</div>